---
import Layout from "@/layouts/Layout.astro";
import { SkiSpecGrid } from "@/components/ski-specs/SkiSpecGrid";
import { AuthGuard } from "@/components/auth/AuthGuard";
---

<Layout title="Ski Specifications">
  <div class="space-y-6">
    <AuthGuard client:load redirectTo="/auth/login">
      <SkiSpecGrid client:load />
    </AuthGuard>
  </div>
</Layout>
